<!DOCTYPE html>
<html>
  <head>
    <title>BeerMe</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  
  <body>

    <h1>Get Beered</h1>

    <h2>Enter the type of food you're eating</h2>
    <input type="text" name="food" id="food">

    <h2>The type of beer you want is: hide on page load, render on food selection</h2>
    <h3 id="beer"> react renders here </h3>
    <script src="bundle.js" />

    <footer class="flex-footer-container">
      <div class="flex-item">Something</div>
      <div class="flex-item">Something different</div>
      <div class="flex-item">Something else</div>
    </footer>
  </body>
</html>