// colors
$amethyst: #9b59b6;
$peter-river: #3498db;
$wisteria: #8e44ad;
$clouds: #ecf0f1;
$silver: #bdc3c7;

// color plot
$link-color-1: $peter-river;
$link-color-2: $clouds;
$visited: $peter-river;

// backgrounds
$header-footer-color: $wisteria;
$main-body: $silver;