@import 'variables';
@import 'mixins';

body {
  background-color: $main-body;
}

.flex-footer-container {
  @include flex-container;
  width: auto;
  height: 200px;
  border-top: 1px solid black;
}

.flex-item {
  flex: 2;
}